

.displayContainer
{
    border: solid black;
    /*  margin-bottom: 5px;*/
}

.displayEducation
{
    border: solid black;
} 

.displaySkils
{
    border: solid black;
      
}
.displayInterst
{
    border: solid black;
}